// Core Color Palette
$beige:   #e0e0ce;
$black:   #000000;
$yellow:  #f2af29;
$grey:    #474747;
$red:     #ad343e;

// Flash
// Messages
$success-text:      #3c763d;
$success-bg:        #dff0d8;
$success-border:    #d6e9c6;

$error-text:        #a94442;
$error-bg:          #f2dede;
$error-border:      #ebccd1;

$info-text:         #31708f;
$info-bg:           #d9edf7;
$info-border:       #bce8f1;

$warning-text:      #8a6d3b;
$warning-bg:        #fcf8e3;
$warning-border:    #faebcc;
