// Ionicons
$font-icons: 'ionicons';

// Open Sans
$font-extrabold: 'opensans_extrabold', Helvetica, Arial, sans-serif;
$font-extrabolditalic: 'opensans_extrabold_italic', Helvetica, Arial, sans-serif;
$font-bold: 'opensans_bold', Helvetica, Arial, sans-serif;
$font-bolditalic: 'opensans_bold_italic', Helvetica, Arial, sans-serif;
$font-semibold: 'opensans_semibold', Helvetica, Arial, sans-serif;
$font-semibolditalic: 'opensans_semibold_italic', Helvetica, Arial, sans-serif;
$font-regular: 'opensans_regular', Helvetica, Arial, sans-serif;
$font-italic: 'opensans_italic', Helvetica, Arial, sans-serif;
$font-light: 'opensans_light', Helvetica, Arial, sans-serif;
$font-lightitalic: 'opensans_light_italic', Helvetica, Arial, sans-serif;
