@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.flash {
  position: relative;
  padding: 1.3em 4em 1.3em 1.2em;
  margin: 2em 0 3em 0;
  min-height: 4em;
  color: white;
  //border: 5px solid $col-tertiary !important;
  //border-radius: 4px;
  border: 0 !important;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, .02);
  border-radius: 3em;
  background-color: rgba(255, 255, 255, .5) !important;

  .flash-icon {
    position: absolute;
    top: 1em;
    left: 1.5em;
    width: 30px;
    height: 30px;
    font-family: $font-icons;
    display: inline-block;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-rendering: auto;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    &:before {
      display: flex;
      width: 30px;
      height: 30px;
      font-size: 30px;
      align-items: center;
      justify-content: center;
      transform-origin: center center;
    }
  }

  .flash-text {
    display: block;
    margin-left: 3em;
    font-size: 1em;

    .flash-list {
      margin: -10px 0;

      & > li {
        margin: 10px 0;
      }
    }
  }

  .flash-close-button {
    position: absolute;
    top: 1em;
    right: 1em;
    //color: $col-primary;
    color: rgba(0, 0, 0, .2) !important;
    border: 0;
    width: 30px;
    height: 30px;
    padding: 0;
    background-color: transparent;

    &:hover {
      color: rgba(0, 0, 0, .5) !important;
    }
  }

  &.open {
    display: block;
  }

  &.info,
  &.pending {
    color: $col-info-text;
    background-color: $col-info-bg;
    border-color: $col-info-border;

    .flash-icon:before {
      content: "\f149";
    }
    .flash-close-button {
      color: $col-info-text;
      opacity: .5;

      &:hover {
        opacity: 1;
      }
    }
  }
  &.pending {
    .flash-icon:before {
      content: "\f29d";
      animation-name: spin;
      animation-duration: 3000ms;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
    }
  }

  &.success {
    color: $col-success-text;
    background-color: $col-success-bg;
    border-color: $col-success-border;

    .flash-icon:before {
      content: "\f120";
    }
    .flash-close-button {
      color: lighten($col-success-text, 20%);

      &:hover {
        color: $col-success-text;
      }
    }
  }

  &.error {
    color: $col-error-text;
    background-color: $col-error-bg;
    border-color: $col-error-border;

    .flash-icon:before {
      content: "\f207";
    }
    .flash-close-button {
      color: lighten($col-error-text, 20%);

      &:hover {
        color: $col-error-text;
      }
    }
  }

  &.warning {
    color: $col-warning-text;
    background-color: $col-warning-bg;
    border-color: $col-warning-border;

    .flash-icon:before {
      content: "\f100";
    }
    .flash-close-button {
      color: lighten($col-warning-text, 20%);

      &:hover {
        color: $col-warning-text;
      }
    }
  }
}
