.resource-list {
  width: 100%;
  //margin-top: 1em; // cancel out <main> margin to go full-width

  th {
    position: relative;
    padding: 0 0.5em 1em 0.5em;
    white-space: nowrap;

    & > button {
      padding: 0 40px 0 0;

      &.asc,
      &.desc {
        background-color: transparent;
        background-repeat: no-repeat;
        background-size: 50px 50px;
        background-position: center right;
      }
      &.asc {
        background-image: url('../images/toggle-up-grey.svg');
      }
      &.desc {
        background-image: url('../images/toggle-down-grey.svg');
      }

      &:hover {
        color: $col-interactive;

        &.asc {
          background-image: url('../images/toggle-up-cyan.svg');
        }
        &.desc {
          background-image: url('../images/toggle-down-cyan.svg');
        }
      }
    }
  }
  th,
  th > button {
    color: $col-primary;
    text-align: left;
    text-transform: none;
    font-family: $font-light;
    font-weight: normal;
    font-size: 1em;
    line-height: 1em;
    border: 0;
    border-radius: 0;
    background: transparent;
  }
  td {
    padding: 1em 0.5em;
    color: $col-secondary;
    cursor: pointer;

    b {
      color: $col-primary;
    }
  }

  tr {
    border-bottom: 1px solid $col-tertiary;
  }
  thead tr {
    border-width: 2px;
  }
  tbody tr {
    &:hover {
      background: $col-bg-hover;
    }
  }
}
