.app-container {
  margin-top: 6em;

  .global-header {
    z-index: 99999;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 3.5em;
    background: linear-gradient(0, rgba(224, 224, 206, .9), $beige);
    box-shadow: 0 0 15px rgba(0, 0, 0, .08);
  }

  // This element's top padding includes the height of the header, which
  // overlaps this element.
  main {
    width: 100%;
    padding: 1em 4em 4em 4em;
  }

  & > footer {
    width: 100%;
    padding: 0.5em 4em 4em;
    color: $grey;
  }
}
